<!DOCTYPE html>
<%-layout('blank-layout') -%>
<html>
<link rel="stylesheet" type="text/css" href="<%=assertHost%>/stylesheets/regsuc.css"/>
<body>

<div id="regSucParent">
    <a class="setBlock down-btn" href="javascript:;"><img src="<%=assertHost%>/img/reg/text.jpg"/></a>

    <div id="regSucCenter">
        <img style="width: 100%;" class="" src="<%=assertHost%>/img/reg/middle.jpg"/>
        <img id="mobile" src="<%=assertHost%>/img/reg/phone2.png"/>
        <img id="money" src="<%=assertHost%>/img/reg/zi.png"/>
    </div>
    <a class="setBlock" href="user/home"><img src="<%=assertHost%>/img/reg/start.jpg"/></a>
</div>
<script src="<%=assertHost%>/js/modules/regsuc-config.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
