<!DOCTYPE html>
<% layout('blank-layout') -%>
<html>
	<link rel="stylesheet" type="text/css" href="<%=assertHost%>/stylesheets/wechat_dec_activity/second/getred.css" />
	<body>
		<div class="container">
			<p class="bj"><img src="<%=assertHost%>/img/wechat_Dec_activity/second/bj.png"></p>
			<div class="main">
				 <aside class="mask"></aside>
				 <p class="red-p">
				 	<img src="<%=assertHost%>/img/wechat_Dec_activity/second/red-bj.png">
				 	<p class="getred">恭喜您获得红包</p>
				 	<p class="getmoney">200<span>元</span></p>
				 	<p class="retun-p"><a href="javascript:;">返回</a></p>
				 </p>
				<p class="info">红包由微信公众号“集财圈儿”</p>
				<p class="info">发送给您，请注意查收</p>
			</div><!--mask end-->
		</div>
	</body>
</html>
