<!DOCTYPE html>
<% layout('blank-layout') -%>
<html>
	<link rel="stylesheet" type="text/css" href="<%=assertHost%>/stylesheets/wechat_dec_activity/second/productlist.css" />
	<body>
		<div class="container">
			 <div class="main">
			 	<aside class="pro-list">
					<%if(products != null) { %>
						<% for(var i = 0 ; i < products.length; i ++) {
							var product = products[i];
						%>
						<div class="detail-list">
							<p class="pro-name"><%=product.name%></p>
							<ul class="clear pro-ul">
								<li class="fl li0">
									<p class="p1">年化收益率</p>
									<p class="text"><%=product.rate + product.extraRate%>%</p>
								</li>
								<li class="fl li1">
									<p class="p1">理财期限(天)</p>
									<p class="num"><%=product.duration%></p>
								</li>
								<li class="fl">
									<p class="p1">剩余可购金额(元)</p>
									<p class="num"><%=formatCurrency(product.remainAmt)%></p>
								</li>
							</ul>
							<p class="buy"><a href="/user/invest/<%=product.id%>">立即购买</a></p>
						</div><!--detail-list-->
						<% } %>
					<% } %>
			 	</aside>
			 </div>
		</div>
	</body>
</html>
