<!-- 
      xmas.html
      Created by 无双 on 2015-12-22.
      Copyright 2015 南. All rights reserved.
            微信活动之圣诞节活动。
 -->
<!DOCTYPE HTML>
<% layout('blank-layout') -%>
	<link rel="stylesheet" type="text/css" href="<%=assertHost%>/stylesheets/wechat_dec_activity/second/xmas.css" />
	<article>
		<section>
			<img class="img-full" src="<%=assertHost%>/img/wechat_Dec_activity/xmas/1.jpg" />
		</section>
		<section class="xmas_center">
			<img class="img-full" src="<%=assertHost%>/img/wechat_Dec_activity/xmas/2.jpg" />
			<div class="xmas_center_text">
				<%if(!userId){%>
				<a class="clickObj" href="/wechatbind"><button>查看我的红包</button></a>
				<%}else if(xmasInfo){%>
							<a id="xmas_ws_open" class="clickObj" href="javascript:;"><button>查看我的红包</button></a>
				<%}else{%>
					<a id="xmas_ws_open" class="clickObj" href="javascript:;"><button>查看我的红包</button></a>
				<%}%>
				<!--<p class="xmas-iswx">
					注册红包被抢光了
					<br /> 购买领取<span>200元</span>大红包
				</p>-->
				<p class="xmas-nonwx">
						关注微信公众号<span>“集财圈儿”</span>
					<br /> 参加活动，领取红包
				</p>
				<p class="xmas-end">
						来晚了，活动已结束。
				</p>
				
			</div>
		</section>
		<section>
			<img class="img-full" src="<%=assertHost%>/img/wechat_Dec_activity/xmas/3.jpg" />
		</section>
		<section class="xmas_rule">
			<h3>活动规则</h3>
<p>1.集财圣诞红包狂欢节2015年12月24日开始，活动结束时间会在活动页面通知；</p>
<p>2.关注微信公众号“集财圈儿”，点击“领红包”绑定集财帐户后才可以参加活动；</p>
<p>3.活动期间用户从活动页面进入，购买指定理财产品：</p>
<br 	/>
<span class="xmas_set_style">单笔购买满1000元，领取10元红包；</span class="xmas_set_style"><br  />
<span class="xmas_set_style">单笔购买满5000元，领取100元红包；</span class="xmas_set_style"><br />
<span class="xmas_set_style">单笔购买满10000元，领取200元红包；</span><br />
			<span>每个用户只能领取1个购买红包</span><br />
<p>4.活动期间用户从活动页面进入，完成注册领取10元以内手气红包；</p>
<p>5.红包通过微信公众号“集财圈儿”发送，未绑定集财帐户的微信不能领取红包；微信红包24小时内未领取会被退回，被退回的红包集财会择时重发；</p>
<p>6.如有疑问请致电400-005-3300获取帮助。</p>
		</section>
		<br />
		<br />
	</article>
	<!--<article id="xmas_reg_show" class="xmas_reg_show">
	<%if( xmasInfo ){%>
		<%if(xmasInfo.amt>0){%>
			<%if( xmasInfo.type == '注册' ){%>
			<section class="get showItem">
				<p class="title">恭喜您获得红包</p>
				<p class="num"><strong><%=xmasInfo.amt%></strong><span>元</span></p>
				<div>
					<p class="des">【购买集财领取大红包】</p>
					<ul>
						<li>买1000元，领<span>10元红包。</span></li>
						<li>买5000元，领<span>100元红包。</span></li>
						<li>买10000元，领<span>200元红包。</span></li>
					</ul>
				</div>
				<hr  />
				<a class="btn" href="/xmas/prolist">
					<button>购买</button>
				</a>
				<p class="ws_xmas_des">
				红包由微信公众号“集财圈儿”<br />
				发送给您，请注意查收
			</p>
			</section>
			<%}else if( xmasInfo.type == '投资' && xmasInfo.amt>0 ){%>
			<section class="bag firstfont showItem">
				<p id="p">恭喜您获得红包</p>	
				<p><span><%=xmasInfo.amt%></span>元</p>
				<p><a href="/"><button>返回</button></a></p>
				<p class="ws_xmas_des">
				红包由微信公众号“集财圈儿”<br />
				发送给您，请注意查收
			</p>
			</section>
		<%}%>
	<%}else{%>
		<section class="get not firstfont">
			<p class="title">购买集财领大红包</p>
			<img src="<%=assertHost%>/img/wechat_Dec_activity/xmas/wl-bg.png"/>
			<div>
				<ul>
					<li>买1000元，领<span>10元红包。</span></li>
					<li>买5000元，领<span>100元红包。</span></li>
					<li>买10000元，领<span>200元红包。</span></li>
				</ul>
			</div>
			<hr  />
			<a class="btn" href="/xmas/prolist">
				<button>购买</button>
			</a>
			<p class="ws_xmas_des">
				红包由微信公众号“集财圈儿”<br />
				发送给您，请注意查收
			</p>
		</section>	
	<%}%>
	<%}%>	
	</article>-->
	
		<article style="display: none;" id="xmas_reg_show2" class="xmas_reg_show xmas_reg_show2">
			<section class="all">
			<div>
				<p class="mTop2">我的红包</p>
				<ul>
					<!--<li class="clear li2">
						<p class="fl">
							<span class="text">注册红包</span><br />
							<span class="date">2015-25-25</span>
						</p>
						<p class="fr hnum"><strong>5.52</strong><span>元</span></p>
					</li>
					<hr class="inner" />
					<li class="clear li2">
						<p class="fl">
							<span class="text">注册红包</span><br />
							<span class="date">2015-25-25</span>
						</p>
						<p class="fr hnum"><strong>5.52</strong><span>元</span></p>
					</li>-->
					<%-partial('../../activity/wechat-xmas-tpl') %>
				</ul>
			</div>
			<hr  />
			<a id="xmas-close" href="javascript:;">
				<button>返回</button>
		</a>
		<!--<p class="ws_xmas_des">
				红包由微信公众号“集财圈儿”<br />
				发送给您，请注意查收
		</p>-->
</section>
		</article>
	<article id="xmas_set_bg">
		<!--
        	作者：zhongciyisheng@live.com
        	时间：2015-12-24
        	描述：这里不能删！
        -->
	</article>
	<script src="<%=assertHost%>/js/wechat_Dec_activity/second/xmas-config.js" type="text/javascript" charset="utf-8"></script>