<%-layout('blank-layout') -%>
<html>
<link rel="stylesheet" type="text/css" href="<%=assertHost%>/stylesheets/agreen.css"/>
<body>
<header class="user-agree-header">
    <h2 class="user-agree-h2 FontColor129 FontSize12">集财用户服务协议</h2>

    <p class="user-agree-p FontColor129 FontSize12 pTop2">
        浙江华盛达互联网金融服务有限公司提醒您，在使用集财服务之前，
        应仔细阅读本服务协议的全部内容，并在了解本协议内容后选择是否接受。
        如果您确定要使用集财服务，必须要同意本服务协议内容。
        我们尚未对未成年人或限制民事行为能力人开放服务。
    </p>
</header>
<article class="user-agree-article">
    <ul>
        <li>
            <h3 class="user-agree-h3"><span>1</span>、定义：</h3>

            <p>
                <span>1.1</span>
                、集财：集财是指浙江华盛达互联网金融服务有限公司所运营的互联网金融平台，集财的服务包括但不限于其互联网网站、移动互联网网站、移动应用等（域名：<span>jicai.com</span>）。
            </p>

            <p>
                <span>1.2</span>
                、用户：所有通过集财各网站、应用注册并使用集财服务的会员，均称为用户。用户使用手机号码作为账号，并通过实名认证确认身份后可以参与交易。
            </p>

            <p>
                <span>1.3</span>
                、理财：指用户在集财平台完成理财产品购买并获取收益的行为。
            </p>
        </li>
        <li>
            <h3 class="user-agree-h3"><span>2</span>、服务内容</h3>

            <p>
                <span>2.1</span>
                、集财平台发布即时的理财信息，供用户挑选和购买。
            </p>

            <p>
                <span>2.2</span>
                、集财服务是基于互联网的服务，因此在您使用集财的过程中，可能会因为您的设备、网络状况或其他环境因素影响服务质量。
            </p>

            <p>
                <span>2.3</span>
                、集财集成了第三方支付的服务，所有支付信息将由第三方支付机构处理和确认。
            </p>

            <p>
                <span>2.4</span>
                、在集财购买理财产品，提供电子协议，您可以通过网站和应用登录到您的个人账户查看这些协议。
            </p>
        </li>
        <li>
            <h3 class="user-agree-h3"><span>3</span>、账号使用规范</h3>

            <p>
                <span>3.1</span>
                、在集财的各个网站和应用中，您需要使用您的手机号码作为登录账号。
            </p>

            <p>
                <span>3.2</span>
                、一旦您丢失、更换或者取消了手机号码的使用，您需要与集财取得联系，重新进行身份认证以确保您的权益。
            </p>

            <p>
                <span>3.3</span>
                、您有责任妥善保管您的登录密码、银行账号等关键信息，不向他人泄露上述内容。如果发现账户被冒用请立即联系集财协助处理。若因您自己未保管好账号密码而产生任何损失，集财不承担任何责任。
            </p>
        </li>
        <li>
            <h3 class="user-agree-h3"><span>4</span>、个人信息及隐私保护</h3>

            <p>
                <span>4.1</span>
                、您在使用集财服务时所提交的所有个人信息，包括但不限于姓名、身份证号码、银行卡号、手机号码等，都将通过相应的认证方式进行认证；请确保在国家法律法规和政策规定框架下，提供真实有效的身份信息。
            </p>

            <p>
                <span>4.2</span>
                、涉及个人账户的关键信息，包括注册手机号码、银行卡号等的更正，必须提供以下资料进行身份信息认证：
                <br/>
                （1）用户本人手持身份证正、反面半身清晰照片；
                <br/>
                （2）用户本人手持银行卡正、反面半身清晰照片；
                <br/>
                （3）更换信息所需的其它证明文件。
            </p>

            <p>
                <span>4.3</span>
                、集财将采取积极合理的措施保护您的所有个人信息，未经您的许可，集财不会向集财意外的任何公司、组织或个人公开、透露您的信息。集财也采取了技术手段保护用户的个人信息安全。
            </p>

            <p>
                <span>4.4</span>
                、若因您遇到非法网络攻击、病毒、木马程序等对您的设备产生影响，进而影响到集财服务的使用，甚至危及到您的信息和数据安全，您应及时采取措施修改密码保护，以免遭受损失。如果您遇到以上问题，您可以第一时间与集财取得联系。
            </p>

            <p>
                <span>4.5</span>
                、您在使用集财服务时所提交的所有个人信息，包括但不限于姓名、身份证号码、银行卡号、手机号码等，都将通过相应的认证方式进行认证；请确保在国家法律法规和政策规定框架下，提供真实有效的身份信息。
            </p>

            <p>
                <span>4.6</span>
                、集财将采取积极合理的措施保护您的所有个人信息，未经您的许可，集财不会向集财意外的任何公司、组织或个人公开、透露您的信息。集财也采取了技术手段保护用户的个人信息安全。
            </p>

            <p>
                <span>4.7</span>
                、若因您遇到非法网络攻击、病毒、木马程序等对您的设备产生影响，进而影响到集财服务的使用，甚至危及到您的信息和数据安全，您应及时采取措施修改密码保护，以免遭受损失。如果您遇到以上问题，您可以第一时间与集财取得联系。
            </p>
        </li>
        <li>
            <h3 class="user-agree-h3"><span>5</span>、知识产权</h3>

            <p>
                <span>5.1</span>
                、浙江华盛达互联网金融服务有限公司享有集财的知识产权。集财在互联网和移动互联网的所有网站、应用的一切著作权、专利权、商标权等，均由浙江华盛达互联网金融服务有限公司所有。
            </p>

            <p>
                <span>5.2</span>
                、未经浙江华盛达互联网金融服务有限公司授权，任何机构或个人都不得以商业目的复制、转载或冒用上述权利。
            </p>
        </li>
        <li>
            <h3 class="user-agree-h3"><span>6</span>、权责声明</h3>

            <p>
                <span>6.1</span>
                、集财作为中介性质的互联网金融服务平台，会对平台所列产品及其发行机构做完备的资质审核和严格的风控。
            </p>

            <p>
                <span>6.2</span>
                、集财平台本身不对任何产品进行担保。
            </p>

            <p>
                <span>6.3</span>
                、集财不会对您在平台上投资所可能产生的任何直接或间接损失承担法律责任。
            </p>

            <p>
                <span>6.4</span>
                、如果您选择的理财产品有第三方增信措施，其增信效力及实际实现情况，需要由您发起，集财将进行应有的协助。
            </p>

            <p>
                <span>6.5</span>
                、集财所发布的理财产品有投资风险，集财会对风险等级做明确标示，您应当充分认识投资风险，谨慎选择。
            </p>

            <p>
                <span>6.6</span>
                、因无法合理控制、不可预见或即使预见亦无法避免的事件等不可抗力（如自然灾害等）致使集财不能或者部分不能履行本协议或延迟履行本协议，集财不承担任何责任。
            </p>
        </li>
    </ul>
</article>
</body>
</html>





