<!DOCTYPE HTML>
<html>

<link rel="stylesheet" type="text/css" href="<%=assertHost%>/stylesheets/about.css"/>
<link rel="stylesheet" type="text/css" href="<%=assertHost%>/stylesheets/share.css"/>
<script src="<%=assertHost%>/js/modules/ctrShare-confi.js" type="text/javascript" charset="utf-8"></script>

<body>
<table border="0" cellspacing="" cellpadding="">
    <tbody>
    <tr>
        <td class="uBg1">
            <a href="/aboutforus" class="noborder">关于集财
                <span class="iconfont FontColor120 fr">&#xe633</span>
                <!--<span class="firstfont fr">50</span>-->
            </a>
        </td>
    </tr>
    </tbody>
</table>
<table border="0" cellspacing="" cellpadding="">
    <tbody>
    <tr>
        <td class="uBg2">
            <a href="/sever" class="clear">客户服务
                <span class="iconfont FontColor120 fr">&#xe633</span>
                <!--<span class="firstfont setposition fr FontColorBf">0</span>-->
            </a>
        </td>
    </tr>
    <tr>
        <td class="uBg3">
            <a href="/fqa">常见问题
                <span class="iconfont FontColor120 fr">&#xe633</span>
            </a>
        </td>
    </tr>
    <tr>
        <td class="uBg4">
            <a href="/activity">活动中心
                <span class="iconfont FontColor120 fr">&#xe633</span>
                <span class="fr setposition FontColorred firstfont"></span>
            </a>

        </td>
    </tr>
    <tr>
        <td class="uBg5">
            <a class="showShare" href="javascript:;">分享给好友
                <span class="iconfont FontColor120 fr">&#xe633</span>
                <span class="firstfont setposition fr FontColorBf"></span>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<!--<table border="0" cellspacing="" cellpadding="">
    <tbody>
        <tr>
            <td class="uBg6">
                <a href="/comment" class="">意见反馈
                    <span class="iconfont FontColor120 fr">&#xe633</span>
                </a>
            </td>
        </tr>
    </tbody>
</table>-->
<!--分享部分代码-->
<section class="shareparent share">
    <img class="img-full" src="<%=assertHost%>/img/shareBg1.png"/>

    <p>
        <button class="hidden shareHidden">我知道了</button>
    </p>
</section>
<footer>
    <p class="FontSize16 FontColor120">客服电话<span class="FontColorGreen mLeft1">400-005-3300</span></p>

    <p class="FontColor152 FontSize12 mTop1">服务时间： 工作日 09:00-21:00</p>
</footer>
</body>
</html>