<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="<%=assertHost%>/stylesheets/Index.css"/>
<script src="<%=assertHost%>/js/modules/msgTip-config.js" type="text/javascript" charset="utf-8"></script>
<style type="text/css">
    nav {
        display: none;
    }
</style>
<body>
<article>

    <p>
        <a class="iAppSet" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.jc.jicai_android">
            <img class="img-full" src="<%=assertHost%>/img/indexImg/iosAndandroid.png" alt="这是图片啦啦啦"/>
        </a>
    </p>

    <p>
        <a href="/aboutus">
            <img class="img-full" src="<%=assertHost%>/img/indexImg/2.png" alt="这是图片啦啦啦"/>
        </a>
    </p>

    <p>
        <a href="javascript:;">
            <img class="img-full" src="<%=assertHost%>/img/indexImg/3.png" alt="这是图片啦啦啦"/>
        </a>
    </p>

    <p>
        <a href="/safety">
            <img class="img-full" src="<%=assertHost%>/img/indexImg/4.png" alt="这是图片啦啦啦"/>
        </a>
    </p>

    <p>
        <a href="/plan">
            <img class="img-full" src="<%=assertHost%>/img/indexImg/5.png" alt="这是图片啦啦啦"/>
        </a>
    </p>
</article>
</body>
<script src="<%=assertHost%>/js/modules/IndexImgCtr-config.js" type="text/javascript" charset="utf-8"></script>

</html>