<%- layout('blank-layout') -%>
<!--注册成功邀请页面样式-->
<link rel="stylesheet" type="text/css" href="<%=assertHost%>/stylesheets/join.css"/>
<script src="<%=assertHost%>/js/modules/join-config.js" type="text/javascript" charset="utf-8"></script>
<html>
<body>
<div class="container">
    <p class="login-succ">您已注册成功，欢迎加入集财</p>

    <div class="sm">
        <img src="/img/invitation/join-weixin.png">
    </div>
    <p class="focus">
        长按二维码关注集财微信公众号
    </p>
    <footer class="footer">
        <a class="buy" href="/product/list">开始理财</a>
        <a class="down-app" href="#">App下载</a>
    </footer>
</div>
</body>
</html>
