<!DOCTYPE HTML>
<%-layout('blank-layout') -%>
<html>

<link rel="stylesheet" type="text/css" href="<%=assertHost%>/stylesheets/changepassword.css"/>

<body id="chps">
<article id="change_password">
    <form action="/user/savePassword" method="post">
        <section>
            <p>
                <button class="retun_btn">原密码</button>
            </p>
            <input id="oldPsd" name="oldPasswd" type="password" name="" id="" value="" placeholder="请输入原密码"/>
        </section>
        <section>
            <p>
                <button class="retun_btn">新密码</button>
            </p>
            <input id="newPsd" name="newPasswd" type="password" name="" id="" value="" placeholder="由6~18位数字、字母组成"/>
        </section>
        <p>
            <button class="chps_confirm">确认</button>
        </p>
        <input type="hidden" name="loadingText" id="loadingText" value="提交中，请稍后..."/>
    </form>
</article>
<section id="msTip">
    <input type="text" name="" id="msg" value="<%=outString(msg)%>"/>
</section>
</body>
<script src="<%=assertHost%>/js/modules/showHidden-config.js" type="text/javascript" charset="utf-8"></script>

</html>
