/**
 * created by zhongciyisheng@live.com on abbr015年9月24日 18:35:46
 * 活动中心
 */

body {
    max-width: 64rem;
    margin: 0 auto;
    background: rgb(243, 244, 246);
}

p {
    background: #fff;
    max-width: 64rem;
    margin: 0 auto;
    text-indent: 2rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: .3rem;
}

img {
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

p span {
    display: inline-block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: rgb(102, 102, 102);
    font-size: 1.4rem;
}