/*========change-password.html============*/

#chps {
    background: rgb(243, 244, 246);
}

#change_password section {
    border-top: 1px solid rgb(239, 239, 239);
    margin-top: 1.4rem;
    background: #fff;
}

#change_password section button {
    margin-left: 2rem;
    background: rgb(95, 109, 184);
    border: none;
    border-radius: .3rem;
    font-size: 1rem;
    color: #fff;
    padding: 0;
    height: 1.7rem;
    width: 5.1rem;
}

#change_password section p {
    padding: 1.38rem 0 0.73rem 0;
    border-bottom: 1px solid rgb(239, 239, 239);
}

#change_password section input {
    width: 100%;
    height: 4.4rem;
    font-size: 1.2rem;
    border: none;
    border-bottom: 1px solid rgb(239, 239, 239);
    line-height: 4.4rem;
    text-indent: 6rem;
}

.chps_confirm {
    height: 3.8rem;
    width: 21.5rem;
    /*background: rgb(95, 109, 184);*/
    background: #ccc;
    border: none;
    display: block;
    color: #fff;
    font-size: 1.8rem;
    border-radius: 3rem;
    margin: 2rem auto;
}

#change_password section:first-child input {
    background: url(../img/other/oldPsw.png) no-repeat 3rem center;
    background-size: auto 2.3rem;
}

#change_password section:nth-child(2) input {
    background: url(../img/other/newPsw.png) no-repeat 3rem center;
    background-size: auto 2.3rem;
}

/* = forgetpassword.html = */
#fotgetpassword {
    background: none;
    border: none;
    line-height: 2rem;
}

.forgetpsd {
    margin-left: 3rem;
    margin-right: 3rem;
    width: -webkit-calc(100% - 6rem);
}

.forgetpsd input {
    height: 3rem;
    text-align: center;
}

.forgeteys {
    padding-right: 1rem;
    position: relative;
    left: 1.5rem;
}