html {
    font-size: 62.5%;
    background: #050000;
}

* {
    box-sizing: border-box;
}

.main {
    margin: 0 auto;
    max-width: 640px;
    height: 100%;
    background: url(/img/movieDownload/bj.png) no-repeat center;
    position: relative;
    background-size: 100%;
}

/*header start*/
.reg-succ {
    padding-top: 2rem;
    color: rgb(254, 64, 90);
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
}

.reg-content {
    line-height: 2.2rem;
    letter-spacing: 0.1rem;
    text-align: center;
    color: white;
    font-size: 1.2rem;
}

.red {
    color: rgb(254, 64, 90);
}

/*footer start*/
.footer {
    width: 100%;
    position: absolute;
    bottom: 1rem;
}

.footer a {
    display: block;
    text-align: center;
    line-height: 4.4rem;
    font-size: 1.6rem;
    height: 4.4rem;
    margin-left: 3rem;
    margin-right: 3rem;
    border-radius: 0.6rem;
}

.footer .buy {
    margin-bottom: 1rem;
    background: rgb(254, 64, 90);
    color: white;
}

.footer .down-app {
    color: rgb(254, 64, 90);
    border: 1px solid rgb(254, 64, 90);
}
