header {
    padding-top: 5rem;
    position: relative;
}

header p:nth-child(1) {
    position: absolute;
    top: 3rem;
    left: calc(50% - 7rem);
    left: -webkit-calc(50% - 7rem);
    color: #fff;
    font-size: 2rem;
}

header p:nth-child(2) {
    position: absolute;
    color: #fff;
    top: 6rem;
    font-size: 1.4rem;
    left: calc(50% - 6rem);
    left: -webkit-calc(50% - 6rem);
}

.paySuccessBtn {
    color: #F5F5F5;
    display: block;
    height: 4rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    padding: 0;
    width: 26rem;
    margin: 0 auto;
    background: none !important;
    border: 1px solid #F5F5F5;
}