<!DOCTYPE html>
<% layout('blank-layout') -%>
<html>
	<link rel="stylesheet" type="text/css" href="/stylesheets/wechat_dec_activity/third/xamsThird.css" />
	<body>
		
		<div class="container">
			<img class="img-full" src="/img/wechat_Dec_activity/third/bg_01.jpg">
			<figure class="content">
				<img class="img-full" src="/img/wechat_Dec_activity/third/bg_02.jpg">
				 <figcaption class="no-weixin"> <!--非微信打开-->
				 	<p class="info">关注微信公众号<span>“集财圈儿”</span></p>
				 	<p class="info">参加活动，领取红包</p>
				 </figcaption>
				 
				 <figcaption class="weixin"> <!--微信打开-->
				 	<% if(!userId){%>
				 		<p class="btn-p"><a href="/wechatbind" class="clickBtn"><button class="btn">拆红包</button></a></p>
				 	<% } else if(xmasInfo){%>
			 		   <% if(xmasInfo.amt >0){%>
			 		   	   <p class="btn-p see-p"><a href="javascript:;" class="clickBtn" id="btn_open" data-flag="red-list"><button class="btn">查看我的红包</button></a></p>
			 		   	<%} else { %>
			 		   		<p class="btn-p"><a href="javascript:;" class="clickBtn" id="btn_open"><button class="btn">拆红包</button></a></p>
			 		    <% } %> 
		 		   	<%}else{%>
	 		   		 	<p class="btn-p"><a href="javascript:;" class="clickBtn" id="btn_open"><button class="btn">拆红包</button></a></p>
	 		   		<%}%>
				 	
				 	<p class="info reg-p">购买集财年度理财产品</p>
				 	<p class="info"> 领取200元大红包</p>
				 	<p class="info-end">抱歉，活动已结束 </p>
				 </figcaption>
			</figure>
		<article class="text-detail">
		        <p class="title">活动规则</p>
						<pre>
							
		
						</pre>
	    </article>
	    
	      <aside class="mask"></aside><!--遮罩层-->
	      <%if(xmasInfo){%> 
	      	<%if(xmasInfo.amt>0){%> 
	      <article class="myred">  <!--我的红包-->
	      		<p class="getred">我的红包</p>
	      	    	<div class="getred-info clear">
	      	    		<p class="fl ">
	      	    			<span class="buy-red">购买红包</span><br>
	      	    			<span class="time"><%=xmasInfo.date%></span>
	      	    		</p>
	      	    		<p class="money-num fr"><%=xmasInfo.amt%><span>元</span></p>
	      	    	</div>
	      	    	<p class="divider"></p>
	      	        <p class="return-p"><a class="return-a" id="return-a">返回</a></p>
	      </article>
	      <%}else {%> 
	        <article class="regred">  <!--注册未购买-->
	      		<p class="getred">购买年度理财产品领取红包</p>
	      		<p class="img-red"><img src="/img/wechat_Dec_activity/third/wl-bg.png" ></p>
	      	    		<p class="money-num p1"> 买500元，领<span>20元红包</span>。</p>
	      	    	    <p class="money-num"> 买1000元，领<span>50元红包</span>。</p>
	      	    	    <p class="money-num"> 买5000元，领<span>200元红包</span>。</p>
	      	    	<p class="divider"></p>
	      	        <p class="return-p"><a class="return-a" href="xmasThird/product">购买</a></p>
	      </article>
	        <%} %>
	      <%}
	      %>
	     <p class="send-p">
				      	红包由微信公众号“集财圈儿”<br>
				      	发送给您，请注意查收	
		</p>
		</div>
		
		
		<script src="/js/wechat_Dec_activity/third/xmasThird-config.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
