<!DOCTYPE html>
<% layout('empty-layout') -%>
<html>
<head>
</head>
<body>
<br/>
<br/><br/>
<br/><br/>
<br/>
<a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx7152ac06e16160fb&redirect_uri=https%3A%2F%2Fm.jicai.com%2Fwc%2Fauth%2Fcallback&response_type=code&scope=snsapi_userinfo&state=123#wechat_redirect">
    <!--<a  href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx7152ac06e16160fb&redirect_uri=http%3A%2F%2Fh5.jc.com%2Fwc%2Fauth%2Fcallback&response_type=code&scope=snsapi_userinfo&state=123#wechat_redirect">-->
    <span id="auth" style="display: none">hjaHDJA</span>
</a>
<script type="application/javascript">
    document.getElementById("auth").click();
</script>
</body>
</html>
