<!DOCTYPE html>
<% layout('blank-layout') -%>
<html>
<link rel="stylesheet" type="text/css" href="<%=assertHost%>/stylesheets/reg-succ.css"/>
<body>
<div class="container"><!--微信注册成功start end-->
    <p class="succ-p">
        <img src="<%=assertHost%>/img/wechat_Dec_activity/reg-succ.jpg">
    </p>

    <p class="succ-info">长按二维码关注微信公众号<br>领取集财现金红包</p>
</div>

<div class="box"><!--非微信注册成功start end-->
    <p class="succ-p">
        <img src="<%=assertHost%>/img/wechat_Dec_activity/reg-succ2.jpg">
    </p>

    <p class="succ-info">关注微信公众号“集财圈儿”<br>领取集财现金红包</p>
</div>

</body>
<script src="<%=assertHost%>/js/wechat_Dec_activity/reg_success-config.js" type="text/javascript" charset="utf-8"></script>
</html>
