<!--<%-layout('blank-layout')-%>-->
<html>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
<link rel="stylesheet" type="text/css" href="<%=assertHost%>/stylesheets/reset.css"/>
<link rel="stylesheet" type="text/css" href="<%=assertHost%>/stylesheets/common.css"/>
<link rel="stylesheet" type="text/css" href="<%=assertHost%>/stylesheets/iconfont.css"/>
<body>
<header class="pTop2">
    <img class="img-full" src="<%=assertHost%>/img/404.png"/>
</header>
<article>
    <p class="FontSize30 AlginCenter FontColorLblue">页面不见鸟。。。</p>

    <p class="mTopBottom2 FontSize30 AlginCenter FontColor120">先回到首页休息一下吧/(ㄒoㄒ)/~~</p>
    <a class="display-block mTop2">
        <button class="btn-55-green bg-60">回到首页</button>
    </a>
</article>
</body>
</html>
