<% layout('blank-layout') -%>
<html>
<link rel="stylesheet" type="text/css" href="<%=assertHost%>/stylesheets/reset.css"/>
<link rel="stylesheet" type="text/css" href="<%=assertHost%>/stylesheets/common.css"/>
<link rel="stylesheet" type="text/css" href="<%=assertHost%>/stylesheets/iconfont.css"/>
<body>
<header>
    <img class="img-full" src="<%=assertHost%>/img/500.png"/>
</header>
<article>
    <p class="FontSize18 AlginCenter FontColorLblue mTop2">系统好像繁忙</p>

    <p class="FontSize18 AlginCenter FontColor120 mTop2">请返回理财列表，或联系管理员</p>
    <a class="display-block mTop2" href="/product/list">
        <button class="btn-55-green AlginCenter">返回</button>
    </a>
</article>
</body>
</html>
