<!--<!DOCTYPE html>-->
<%- layout('blank-layout') -%>
<html>
<link rel="stylesheet" type="text/css" href="<%=assertHost%>/stylesheets/aboutUs.css"/>

<body>
<header class="aboutforus-header">
    <img src="<%=assertHost%>/img/about.png"/>
</header>
<article class="aboutforus-arctive">
    <hgroup>
        <h1>华盛达控股集团旗下互联网理财平台</h1>

        <h2 class="firstfont">A HSD Holding Group Company</h2>
    </hgroup>
    <p>
        浙江华盛达互联网金融服务有限公司是华盛达控股集团旗下2015年新注册子公司。
    </p>

    <p>
        华盛达集团创办于1992年，主要经营塑料建材、地产、建筑及自主经营型物业，同时涉及银行、典当、担保、学校等多元化投资。
    </p>

    <p>
        自2007年涉足金融投资领域以来，相继投资入股或间接参股湖州银行、德清县农商银行、民权德商村镇银行、睢县德商村镇银行、天津滨海德商村镇银行等12家银行，逐步构筑产业资本和金融资本的互动平台，实现专业化经营和多元化投资的经营格局。
    </p>

    <p>
        2015年，华盛达进入互联网金融领域，为集团金融投资格局新添一个更有发展潜力和想像空间的板块，希望能为普惠金融做出更多的探索。
    </p>
</article>
</body>

</html>