<!--<!DOCTYPE html>-->
<%-layout( 'blank-layout') -%>
<html>
<link rel="stylesheet" type="text/css" href="<%=assertHost%>/stylesheets/aboutUs.css"/>
<body>
<article>
    <section class="AlginCenter FontColor65 FontSize12">
        <p>
            <img class="img-full" src="<%=assertHost%>/img/iSubPic/about.jpg"/>
        </p>
        <hgroup>
            <h3>
                <button>集财是谁</button>
            </h3>
            <h3>一个更懂你的理财平台</h3>
        </hgroup>
        <p class="aboutUsText">
            集财是一个以前沿技术、大数据共同支撑起来的新型移动理财平台。旨在为更多的年轻人提供优质、低风险、收益合理的理财机会，我们在研发阶段就充分考虑到了理财用户的真正需求。现在你可以通过手机轻松的了解理财资讯、完成理财产品购买；未来，我们还会根据你的理财习惯为你推荐合适你的理财产品。
        </p>
    </section>
    <section class="AlginCenter FontColor65 FontSize12">
        <hgroup>
            <h3>
                <button>行业背景</button>
            </h3>
            <h3>深耕多年的华盛达控股集团</h3>
        </hgroup>
        <img class="aboutUsImg" src="<%=assertHost%>/img/iSubPic/about1.jpg"/>
        <img class="aboutUsImg pTop1" src="<%=assertHost%>/img/iSubPic/about2.jpg"/>

        <p class="aboutUsText mTop2">
            集财平台由浙江华盛达互联网金融服务有限公司运营，公司隶属于华盛达控股集团。集团产业领域涉及塑料建材、房地产、建筑、自助经营型物业、金融投资、教育等，是有这20余年历史沉淀的浙江知名产业集团。2007年，华盛达控股集团涉足金融投资领域，直接参股或间接入股湖州银行、德清农商银行等12家银行，逐步构筑产业资本和金融资本的互动平台。时间专业化经营和多元化投资的经营格局。

        </p>
    </section>
    <section class="AlginCenter FontColor65 FontSize12 last mTop2 pBottom2">
        <hgroup>
            <h3>
                <button>为什么选择集财</button>
            </h3>
            <h3>看集财有什么不一样</h3>
        </hgroup>
        <img class="aboutUsImg" src="<%=assertHost%>/img/iSubPic/about3.jpg"/>

        <p class="aboutUsText mTop2">
            集财为你优选了风险极低、收益合理的理财产品，同时也为理财带来了一些新鲜的元素，无论是购买即日起息，还是低至人人可以承受的门槛，以及完全没有附加费用的设置，都能给你带来轻松愉悦的理财体验，在理想的状态下，你完全可以实现365天天无间断天天有收益。
        </p>
    </section>
</article>
</body>

</html>