<!DOCTYPE html>
<% layout('blank-layout') -%>
<html>
<link rel="stylesheet" type="text/css" href="<%=assertHost%>/stylesheets/activity.css"/>
<body>

<p><!-- 微信红包第三炮弹 1月份 -->
    <a class="iAppSet" href="/ypdct">
        <img class="img-full" src="/img/activity/hdzx.png" alt="微信红包"/>
    </a>
    <span>集财贺岁第3弹</span>
</p>

<p>
    <a class="iAppSet" href="/virtual/list">
        <img class="img-full" src="<%=assertHost%>/img/activity/activeExprenew.jpg" alt="万元体验金图片"/>
    </a>
    <span>花1元，领万元理财本金。</span>
</p>


<p><!-- 微信红包第二炮弹 十二月份 -->
    <a class="iAppSet" href="/xmas">
        <img class="img-full" src="<%=assertHost%>/img/activity/h5-hdzx.png" alt="微信红包"/>
    </a>
    <span>集财贺岁第2弹</span>
</p>


<p><!-- 微信红包 十二月份 -->
    <a class="iAppSet" href="/redenv">
        <img class="img-full" src="<%=assertHost%>/img/activity/wechat_Dec_activity.png" alt="微信红包"/>
    </a>
    <span>集财贺岁第1弹</span>
</p>

<!--  = 荠菜观影季 =  -->
<p>
    <a class="iAppSet" href="/movieseason">
        <img class="img-full" src="<%=assertHost%>/img/activity/movieseason.png" alt="荠菜观影季"/>
    </a>
    <span>百万红包免费领取</span>
</p> <!--  = 万元体验金 =  -->
<!-- =集财电影季= -->
<p>
    <a class="iAppSet" href="javascript:;"><!--/movie -->
        <img class="img-full" src="<%=assertHost%>/img/activity/movie.png" alt="集财电影节"/>
    </a>
    <span>集财观影季</span>
</p>

<p>
    <a class="iAppSet" href="/midatminv">
        <img class="img-full" src="<%=assertHost%>/img/activity/m_mid_act.png" alt="中秋节图片"/>
    </a>
    <span>中秋送福 好友同享</span>
</p>
</body>
</html>