<!DOCTYPE html>
<%-layout('blank-layout') -%>
<link rel="stylesheet" type="text/css" href="<%=assertHost%>/stylesheets/share.css"/>
<link rel="stylesheet" type="text/css" href="<%=assertHost%>/stylesheets/download.css"/>

<body>
<article class="content">
    <section>
        <a class="iosDown" href="javascript:;">
            <img src="img/download/appbg2.png"/>

            <p class="appShowBtn active">
                点击下载
            </p>
        </a>
        <a href="javascript:;">
            <img src="img/download/appbg1.png"/>

            <p>
                敬请期待
            </p>
        </a>
    </section>
</article>
<footer id="box">
    <section class="shareparent share">
        <img class="img-full" src="<%=assertHost%>/img/virtualGifts/down.png"/>

        <p>
            <button class="hidden shareHidden">我知道了</button>
        </p>
    </section>
</footer>
<script src="<%=assertHost%>/js/modules/IndexImgCtr-config.js" type="text/javascript" charset="utf-8"></script>
</body>