<% layout('blank-layout') -%>
<html>
<link rel="stylesheet" type="text/css" href="<%=assertHost%>/stylesheets/fqa.css"/>

<body>
<header>
    <h2><span class="firstfont">?</span>常见问题 FAQ</h2>
</header>
<article>
    <details>
        <summary>如何注册集财理财平台用户？</summary>

        <div><p>在微信客户端搜索公众号“集财”，关注集财公众号。点击底部按钮【我的集财】，在【个人中心】用手机号码完成注册账户即可。</p></div>
    </details>
    <details>
        <summary>如何完成集财账户的实名认证？</summary>
        <div><p>集财账户注册完成之后，在【个人中心】-【银行卡】的界面绑定本人银行卡（只支持储蓄卡），填写内容包括姓名，身份证号码，银行卡号和银行预留手机号，在手机完成身份校验后，实名认证完成。</p></div>
    </details>
    <details>
        <summary>手机收不到短信验证码？</summary>
        <div>
            <p>手机不能及时收到短信验证码，可能是以下原因导致的：</p>

            <p>您当前所处位置的手机信号不稳定产生影响;</p>

            <p>您的手机里安装的拦截软件将短信验证码当作垃圾短信拦截了;</p>

            <p>您可能向运营商投诉过106号段的垃圾短信，要求运营商将该号段短信拦截掉了。</p>

            <p>如果确认非上述原因导致的短信验证码无法接收，您可以尝试重启手机或者换个时间再试。</p>
        </div>
    </details>
    <details>
        <summary>一个手机号是否只能对应一个身份证号？</summary>
        <div><p>为保证用户资金和个人信息安全，一个手机号码只能对应一个身份证号码；一个身份证号码只能实名认证一次（唯一性）。</p></div>
    </details>
    <details>
        <summary>如何购买产品？</summary>
        <div><p>首先关注【集财公众号】，并完成账户的注册和实名认证，然后在【理财产品】中选择相应的理财产品，完成支付。</p></div>
    </details>
    <details>
        <summary>为什么不能用信用卡付款？</summary>
        <div><p>目前集财理财平台暂不支持使用信用卡购买理财产品，请使用储蓄卡进行支付。</p></div>
    </details>
    <details>
        <summary>什么是银行预留手机号？</summary>
        <div><p>银行预留手机号码是您在银行办理开卡签约时预留在银行的针对该银行卡的手机号码。如有疑问可以致电银行客服或者携带身份证到发卡银行办理预留手机号更新。</p></div>
    </details>
    <details>
        <summary>为什么银行已经扣款，但账户信息里没有显示？</summary>
        <div><p>这种情况属于掉单，银行扣款后，钱会停留在第三方支付平台，第三方支付会在1-2个工作日退回用户的银行卡上；或联系客服400-005-3300咨询。</p></div>
    </details>
    <details>
        <summary>产品到期后资金如何返还？</summary>
        <div><p>根据同卡进出的原则，当购买的理财产品到期后，本金和收益会在2个工作日内自动返回您支付时使用的银行卡。</p></div>
    </details>
    <details>
        <summary>什么是积分？积分如何获取？积分怎么兑换？</summary>
        <div><p>积分是集财理财平台推出的具有兑换礼品功能的价值服务。积分获取的规则如下： </p>

            <p>积分获取规则</p>

            <p>1) 注册送1000积分;</p>

            <p>2) 新手产品:固定送1000积分;</p>

            <p>3) 交易积分算法;</p>

            <p>月度产品:积分=购买金额 / 6;</p>

            <p>季度产品:积分=购买金额 / 2;</p>

            <p>半年产品:积分=购买金额 ;</p>

            <p>全年产品:积分=购买金额 * 2;</p>

            <p>4) 首次交易原始积分双倍计算（新手产品不参加）。 </p>

            <p>推荐好友获取积分</p>

            <p>1) 推荐好友注册，送2000积分;</p>

            <p>2) 推荐好友首次交易，送8000积分（新手产品不参加）;</p>

            <p>3) 推荐好友再次交易，送好友积分的50%;</p>

            <p>积分可以在积分商城中兑换相应的礼品，积分商城即将上线，敬请期待。</p>
        </div>
    </details>
    <details>
        <summary>什么是礼金？礼金如何获取？礼金如何兑付？</summary>
        <div>
            <p>礼金是集财理财平台发放的现金奖励。</p>

            <p>礼金获取的方式包括：</p>

            <p>注册赠送20元礼金;</p>

            <p>邀请好友单笔交易满10000元送10元礼金;</p>

            <p>每第五个邀请好友单笔交易满10000元送50元礼金;</p>

            <p>满20个推荐好友单笔交易满10000元，送专享1%年化收益增幅。</p>

            <p>礼金将跟随您下一笔到期的投资产品（新手产品除外）一起兑付。礼金兑付按照时间顺序，每次兑付一笔。</p>
        </div>
    </details>
    <details>
        <summary>如何解除银行卡绑定？</summary>
        <div>
            <p>
                根据央行等十部委联合颁发的《关于促进互联网金融健康发展的指导意见》第十八条，为识别客户身份，保障用户认证信息的持续真实有效，用户在修改绑定银行卡时，需要用户提供身份证明文件进行身份认证。身份认证的资料包括：</p>

            <p>双手手持本人身份证正、反面的半身照片;</p>

            <p>双手手持本人银行卡正、反面的半身照片，银行卡背面须有本人签名;</p>

            <p>上述资料可以通过集财官方QQ 4000053300或“集财”微信公众号发送给我们，并提供个人的注册账户信息。我们在收到您的资料后会尽快与您取得联系。</p>
        </div>
    </details>
</article>
</body>

</html>