<!--<!DOCTYPE html>-->
<%- layout( 'blank-layout') -%>
<html>
<link rel="stylesheet" type="text/css" href="<%=assertHost%>/stylesheets/guide.css"/>
<body>
<article>
    <h3>用户身份认证的操作流程</h3>
			<pre>
根据央行等十部委联合颁发的《关于促进互联网金融健康发展的指导意见》第十八条，为识别客户身份，保障用户认证信息的持续真实有效，用户在修改账户关键信息或用户账户存在安全隐患时，需要用户提供身份证明文件进行身份认证。需要进行身份认证的操作，包括但不限于下列内容:
1.修改注册手机号码；
2.修改绑定的银行卡；
3.解除绑定银行卡。
			</pre>
    <h3>身份认证所需资料</h3>
			<pre>
1.用户本人双手手持身份证正、反面的半身照片。
照片要求
本人五官清晰，双手手臂可见；
身份证上面的文字清晰可见。
示例照片
<img class="img-full" src="<%=assertHost%>/img/guide/download.jpg"/>
2.用户本人双手手持银行卡正、反面的半身照片。
照片要求
本人五官清晰，双手手臂可见；
银行卡上面的文字清晰可见；
银行卡背面必须有本人签名。
示例照片
<img class="img-full" src="<%=assertHost%>/img/guide/download2.jpg"/>
3.其它有助确认身份信息的文件或资料。		
			</pre>
    <h3>资料的递交方式</h3>
			<pre>
用户将上述资料通过以下方式发送给我们：
1. 通过集财网客服QQ与我们取得联系。
QQ号码：4000053300；
2. 通过集财网微信公众号与我们取得联系。
微信公众号：集财
递交上述资料的同时，请告知集财用户账号。我们在收到您的资料之后会尽快与您取得联系。

附录：<a href="http://www.pbc.gov.cn/zhengwugongkai/127924/128038/128109/2935480/2015081915491087572.pdf">《关于促进互联网金融健康发展的指导意见》
            </a>
			</pre>
</article>
</body>

</html>