<%- layout('blank-layout') -%>
<!--观影季页面样式-->
<link rel="stylesheet" type="text/css" href="<%=assertHost%>/stylesheets/movieDownload.css"/>
<script src="<%=assertHost%>/js/modules/movieDownload-config.js" type="text/javascript" charset="utf-8"></script>
<html>
<body>
<div class="main">
    <header>
        <p class="reg-succ">您已注册成功，欢迎加入集财！</p>

        <p class="reg-content">马上购买集财理财产品，即可赢取<span class="red">「 菜籽<br>
				     专享微信电影红包 」</span>先到先得，马上行动!<br>
            下载集财App，收获更多惊喜。
        </p>
    </header>
    <footer class="footer">
        <a class="buy" href="/product/list">购买集财</a>
        <a class="down-app" href="#">App下载</a>
    </footer>
</div>
</body>

</html>