<!--<!DOCTYPE html>-->
<%- layout('blank-layout') -%>
<html>
<link rel="stylesheet" type="text/css" href="<%=assertHost%>/stylesheets/aboutUs.css"/>
<body>
<header>
    <img class="img-full" src="<%=assertHost%>/img/planbg1.jpg"/>
</header>
<article class="plan-article">
    <section>
        <h2 class="AlginCenter pTop2">菜籽计划</h2>

        <p class="mLeftRight2 FontColor120 pBottom2 border1 FontSize13">
            菜籽计划是集财为用户特别打造的一款理财分享计划。使用你的专属链接分享集财给你身边的亲朋好友，不仅可以让他们也能享受到集财产品带来的实惠，更重要的是，作为分享源头的你，也可以获得相应的积分、礼金或者专属理财收益率。越多好友加入进来，你获得的实惠也就越多。现在就开始呼朋唤友，一起分享集财吧！
        </p>
    </section>
    <section>
        <h2 class="mTop1">积分</h2>

        <p class="FontColor120 pBottom1 FontSize13">
            你邀请的每一个有效注册用户，都可以为 你获得实际的积分奖励，获得积分的多少可以参照集财的积分规则，但有一点可以 确认：邀请越多积分越多！
        </p>
    </section>
    <section>
        <h2 class="">礼金</h2>

        <p class="FontColor120 pBottom1 FontSize13">
            一旦你邀请的好友在集财完成有效的交易，达到设定的条件，你还可以获得一定数额的礼金。获得礼金的条件以及礼金用法可以参考集财的礼金规则。
        </p>
    </section>
    <section>
        <h2 class="">专属理财收益率</h2>

        <p class="FontColor120 pBottom1 FontSize13">
            理财是积累的过程，菜籽计划也是一个积累的过程。当你邀请的人数以及被邀请人交易的金额达到一定条件，你还能获得专 属的理财收益率，比平时赚更多！
        </p>
    </section>
    <section class="bg-white">
        <h3><span class="firstfont">01</span><span>/登录</span></h3>

        <p class="FontSize14 FontColor219 mTopBottom2">
            登录到"个人中心",点击"邀请好友";

        </p>

        <p class="clear pLeftRight2 mBottom2"><img class="fr" src="<%=assertHost%>/img/planbg5.jpg"/></p>
    </section>
    <section>
        <h3><span class="firstfont">02</span><span>/分享</span></h3>

        <p class="FontSize14 FontColor219 mTopBottom2 pLeftRight2">
            在"邀请好友"页面，点击"分享"，按说明分享到朋友圈或发布到微博；
        </p>

        <p class="clear pLeftRight2 mBottom2"><img class="fr" src="<%=assertHost%>/img/planbg6.jpg"/></p>
    </section>
    <section class="">
        <h3><span class="firstfont">03</span><span>/查看好友邀请</span></h3>

        <p class="FontSize14 FontColor219 mTopBottom2 pLeftRight2">
            在"邀请好友"页面，你可以轻松查看自己的邀请记录。
        </p>

        <p class="clear pLeftRight2"><img class="fr" src="<%=assertHost%>/img/planbg7.jpg"/></p>
    </section>
</article>
</body>
</html>
