<!--<!DOCTYPE html>-->
<%-layout( 'blank-layout') -%>
<html>
<link rel="stylesheet" type="text/css" href="<%=assertHost%>/stylesheets/safety.css"/>

<body>
<article>
    <section>
        <img class="img-full" src="<%=assertHost%>/img/iSubPic/bank1.jpg" alt="集财"/>
    </section>
    <section>
        <hgroup class="safetyTitle">
            <h3><img class="safetyIco" src="<%=assertHost%>/img/iSubPic/bank11.jpg"/><span>银行级风控</span></h3>

            <h3 class="FontSize18 FontColor65 pTop1">和银行一样让你放心</h3>
        </hgroup>
        <p class="FontSize12 FontColor93 safetyText">
            我们的风控团队和第三方评估机构一起，通过完备的产品安全评估、资产价值评估，以及 成熟的多重、深度尽调机制，让每款产品在上架之前就足够安全。除了对产品发行方基本
            资质、财务状况和征信报告做详尽的审核之外，我们还在他们资金使用期间，实时获取其 资金使用状况，一旦有逾期风险，提前发出预警。
        </p>
    </section>
    <section>
        <img class="img-full pTop2" src="<%=assertHost%>/img/iSubPic/bank10.jpg" alt="集财"/>
    </section>
    <section>
        <hgroup class="safetyTitle">
            <h3><img class="safetyIco" src="<%=assertHost%>/img/iSubPic/bank9.jpg"/><span>资金安全保障</span></h3>

            <h3 class="FontSize18 FontColor65 pTop1">给你的钱包上个锁</h3>
        </hgroup>
        <p class="FontSize12 FontColor93 safetyText">
            集财通过多种方式保障你的资金安全，第三方支付保障资金去向和隔离；同卡 进出保障用户权益；另有风险保证金制度，确保每一款产品都有安全的赔付机 制，并引入了第三方增信机构，即便发生风险，也能有充分的本息保障。
        </p>
    </section>
    <section class="safetyTP safetyTP0">
        <h3>第三方支付</h3>

        <p>
            通过第三方支付，你购买理财的资金将直 接转给产品发行方，集财在此过程中无法 直接处置这部分资金，这不仅让平台保持了 独立性，也让资金有充分的安全保障。
        </p>
    </section>
    <section class="safetyTP safetyTP1">
        <h3>同卡进出</h3>

        <p>
            你用哪张银行卡购买了产品，产品到期后 本金和收益都会自动回到你购买的银行卡 上。同卡进出确保了你的权益，没有身份 被盗用的风险。
        </p>
    </section>
    <section class="safetyTP safetyTP2">
        <h3>风险保证金</h3>

        <p>
            风险保证金为用户提供了有效的风险保障机制，分散了用户理财行为所带来的风险，营造了一个安全健康的投资环境，保障了用户的权益。
        </p>
    </section>
    <section class="safetyTP safetyTP3">
        <h3>增信机构</h3>

        <p>
            同时，集财引入了第三方的担保公司为平 台产品做增信措施，保证在产品发行方无 法按时兑付时由增信机构承担保兑保付责 任。
        </p>
    </section>
    <section>
        <hgroup class="safetyTitle">
            <h3><img class="safetyIco" src="<%=assertHost%>/img/iSubPic/bank6.jpg"/><span>技术安全保障</span></h3>

            <h3 class="FontSize18 FontColor65 pTop1">超高安全性 高枕无忧</h3>
        </hgroup>
        <p class="FontSize12 FontColor93 safetyText">
            对技术安全的追求是我们始终最为重视的部分，我们考虑了所有可能遇到的问题缓解，严格挑选，所有的技术解决方案都业界顶尖，超高的安全性，让你可以高枕无忧。
        </p>
    </section>
</article>
<article class="safetyB">
    <section class="safetyD pTopBottom1plus mBottom2">
        <h3 class="FontSize14 FontColor65">SSL证书</h3>

        <p class="FontSize10 FontColor120 pLeftRight2">
            我们选择了赛门铁克最受信任和最安全的 Secure Site Pro with EV 证书，可以确保你 在集财网站的浏览、购买都是安全的，点击 绿色地址栏即可查看安全信息。
        </p>
    </section>
    <section class="safetyD pTopBottom1plus safetyD2">
        <h3 class="FontSize14 FontColor65">顶级绿色数据库</h3>

        <p class="FontSize10 FontColor120 pLeftRight2">
            通过经信委能评审核，我们选择的数据中心 是达到国际顶级水准的绿色数据中心。通过 多重灾备，我们完美地保障你的信息和资产 数据绝对安全。
        </p>
    </section>
</article>
</body>

</html>