<!--<!DOCTYPE html>-->
<%- layout( 'blank-layout') -%>
<html>
<link rel="stylesheet" type="text/css" href="<%=assertHost%>/stylesheets/sever.css"/>
<meta name="format-detection" content="telephone=yes"/>

<body>
<article>
    <section>
        <img src="<%=assertHost%>/img/iSubPic/sever1.jpg" alt="集财"/>
    </section>
    <section>
        <p>客服电话</p>

        <p class="firstfont"><a class="setColor">400-005-3300</a>
        </p>
    </section>
    <section>
        <ul class="clear">
            <li class="fl">
                <p class="qq FontColor120">企业QQ</p>

                <p class="firstfont FontColor120">4000053300</p>
            </li>
            <li class="fr">
                <p class="wb FontColor120">微博</p>

                <p class="FontColor120">@集财-互联网金融</p>
            </li>
        </ul>
    </section>
    <section>
        <p class="AlginCenter firstfont FontSize12 FontColor168 pTop1">服务时间：工作日 9:00 - 21:00</p>
    </section>
</article>
</body>
</html>