<!DOCTYPE html>
<% layout('blank-layout') -%>
<html>
<link rel="stylesheet" type="text/css" href="<%=assertHost%>/stylesheets/thunderVerify.css"/>

<body id="invest_body">
<header class="thunderHeader">
    <!--<img src="<%=assertHost%>/img/thunder/thunder.png" />-->
    <section>
        <p>迅雷白金会员</p>

        <p><strong>免费领</strong></p>
        <!--<p><a>查看活动规则</a></p>-->
        <p>认证送<span class="firstfont">7</span>天，投资送<span class="firstfont">1</span>年！！！</p>
    </section>
</header>
<article class="form">
    <form>
        <p>
            <span class="nameverify">详细规则</span>
        </p>
				<pre class="thunderVSub">
1.	活动时间：即日起至9月30日；
2.	活动期间，仅限通过迅雷活动页面扫码注册集财会员，并完成实名认证或购买的用户，均可享受：
	注册送50元礼金和1000积分；
	实名认证，送7天迅雷白金会员；
	购买月度理财产品达1000元或季度理财产品达500元送一年迅雷白金会员；
3.	实名认证或购买成功后，迅雷会员会直接充值到您在迅雷活动页面登录的账户。
4.	每个账户最多赠送一个7天白金会员和一个一年白金会员。白金会员资格名额有限，送完为止。如发现作弊行为，取消一切奖励；
5.	有任何疑问，请致电400-005-3300获取帮助。

				</pre>
    </form>
</article>
<section id="msTip">
    <input type="text" name="" id="msg" value="<%=outString(msg)%>"/>
</section>
<input type="hidden" name="" id="loadingText" value="正在提交,请稍后..."/>
</body>

</html>